/app/etc/env.php
/app/etc/config.php
/pub/static/*
!/pub/static/.htaccess
/pub/media/*
!/pub/media/.htaccess
!/pub/media/theme_customization
/var/*
!/var/.htaccess
/generated/*
/vendor/*
.bootstrap.php
.php-cs-fixer.dist.php
.user.ini
/CHANGELOG.md
/COPYING.txt
/LICENSE.txt
/LICENSE_AFL.txt
/auth.json
/nginx.conf.sample
/php.ini.sample
.DS_Store
.idea
.vscode
